
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTipVtF_8VQEmRqG214IbBOyhKTftbRo_L8pA&usqp=CAU');
    background-repeat: repeat-y;
    background-size: 100%;
}
.message{
    color: whitesmoke;
    text-align: center;
    font-size: 3em;
}
#button{
    color: whitesmoke;
    background-color: rgba(247, 246, 248, 0.836);
    border-radius: 12px;
    width: 100px;
    height: 30px;
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
}