*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;
} 
.grid {
    border: 3px solid black;
    margin: 20px auto;
    width:550px;
    height:470px;
    background-color:rgb(192, 188, 188);
    display:flex;
    flex-wrap: wrap;
    grid-template-columns: 60px 60px;
    /* grid-row: auto auto; */
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.grid div {
    display:flex;
    flex-wrap: wrap;
    height: 60px;
    width: 60px;
    padding: 2em;
    border-radius: 1em;
    color:rgb(255, 255, 255);
    background-color: aquamarine;
    align-items:center;
    justify-content:center;
}
.scoreboard{
    display: grid;
    width: 75px;
    height: 75px;
    background-color: black;
}
.plOne {
    background-color: red;
    border-radius: 10px;
}
.plTwo {
    background-color: blue;
    border-radius: 10px;
}

  
