body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/632/34/549/technology-monitor-alpha-coders-binary-wallpaper-preview.jpg');
}
.grid {
    border: 10px solid rgb(245, 242, 242);
    height: 490px;
    width: 574px;
    display: flex;
    flex-wrap: wrap;  
}
.grid div {
    height: 80px;
    width: 80px;
}
.sc{
    display: flex;
    text-align: center;
    background-color: white;
    height: 60px;
    width: 380px;
}
.plone {
    background-color: rgb(43, 179, 2);
    border-radius: 10px;
}
.pltwo {
    background-color: white;
    border-radius: 10px;
}
h1{
    color: white;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
}