body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/632/34/549/technology-monitor-alpha-coders-binary-wallpaper-preview.jpg');
}

.grid {
    border: 10px solid rgb(245, 242, 242, .5);
    height: 490px;
    width: 574px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%; 
    margin-right: 25%;
}
.grid div {
    border: 1px solid black;

    height: 80px;
    width: 80px;

}
.sc{
    display: flex;
    text-align: center;
    color: white;
    background-color: rgba(194, 188, 188, 0.69);
    height: 60px;
    width: 280px;
    margin-bottom: -25px;
    text-decoration: underline;
    margin-left: 35%; 
    margin-right: 35%;
}
.plone {
    background-color: rgb(121, 4, 111);
    border-radius: 10px;
}
.pltwo {
    background-color: rgb(63, 44, 236);
    border-radius: 10px;
}
h1{
    color: white;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
}
#one{
    color: rgb(121, 4, 111);
}
#two{
    color:  rgb(63, 44, 236);  
}
#reset{
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    margin-left: 36%; 
    margin-right: 35%;
}
#reset:hover{
    background-color: rgb(155, 250, 14);
    color: rgb(63, 2, 119); 
}

#clear{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    
    color: white;
    border-radius: 15px;
    margin-left: 48%;
    margin-right: 55%;
    margin-top: -30px;
    
}
#clear:hover{
    background-color: rgb(155, 250, 14);
    color: rgb(63, 2, 119);   
}